.button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $apple;
  width: 100%;
  max-width: 280px;
  min-height: 40px;
  display: inline-block;
  text-align: center;
  padding: 11px 22px;
  color: $white;

  &:hover {
    background-color: $basic_green;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &--main {
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--submit {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    border: none;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }

    &:focus {
      outline: none;
    }
  }

  &--show-all {
    color: $special_dark-grey;
    background-color: $basic_grey;

    &:hover {
      background-color: $gallery-2;
    }

    &:active {
      color: rgba($special_dark-grey, 0.3);
    }
  }
}
