.copyright {
  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  margin-right: auto;

  &:hover + .copyright__link {
    & svg {
      fill: $apple;
    }
  }
}

.copyright__link {
  display: block;
  margin: 12px 0 0 20px;

  @media (min-width: $tablet-width) {
    margin: 10px 0 0 20px;
  }

  & svg {
    fill: $special_grey-2;
  }

  &:hover svg {
    fill: $apple;
  }
}
