.description {
  min-height: 300px;
  margin: 0 0 42px 0;

  @media (min-width: $tablet-width) {
    min-height: 600px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 300px;
  }
}

.description__container {
  @media (min-width: $desktop-width) {
    padding: 0 105px;
  }
}

.description__title {
  margin: 27px 0 38px 0;

  @media (min-width: $tablet-width) {
    margin: 45px 0 38px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 65px 0 38px 5px;
  }
}

.description__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: 600px) {
    display: grid;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 800px;
    counter-reset: number 0;
    margin: 0 0 3px 0;
  }

  @media (min-width: 800px) {
    justify-content: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin: 0;
    justify-content: space-between;
  }
}

.description__item {
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    @media (max-width: $mobile-width-only) {
      margin-bottom: 20px;
    }
  }

  &:first-child {
    @media (min-width: $tablet-width) {
      &::after {
        right: 9%;
      }
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 0 5px;
    }
  }

  &:nth-child(odd) {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
      margin-right: 134px;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    min-width: 230px;
    max-width: 250px;
    min-height: 280px;
    margin-bottom: 37px;
    counter-increment: number;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(number);
      position: absolute;
      top: -2.5%;
      right: 0.5%;
      color: $basic_grey;
      font-size: 280px;
      line-height: 280px;
      z-index: -1;
    }
  }
}

.description__icon {
  min-width: 60px;
  height: 60px;
  background-color: $apple;
  background-repeat: no-repeat;
  background-position: center;


  &--leaf {
    background-image: url("../img/icon_leaf.svg");
  }

  &--tub {
    background-image: url("../img/icon_tub.svg");
  }

  &--eat {
    background-image: url("../img/icon_eat.svg");
  }

  &--alarm {
    background-image: url("../img/icon_alarm.svg");
  }

  @media (min-width: $tablet-width) {
    min-width: 80px;
    max-width: 80px;
    height: 80px;
    margin: 34px 0 30px 0;
  }
}

.description__text {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  min-width: 200px;
  margin: 0 0 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 245px;
    display: inline;
    margin: 0;
  }
}

.description__tablet-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
