.example {
  background: $gallery;
  min-height: 705px;

  @media (min-width: $tablet-width) {
    min-height: 1082px;
    background: linear-gradient(to top, $gallery 42.7%, $white 42.7%);
    border-top: 1px solid $mercury-2;
  }

  @media (min-width: $desktop-width) {
    min-height: 661px;
    background: linear-gradient(to top, $gallery 69.9%, $white 69.9%);
    border: none;
    padding: 0 0 10px 0;
  }
}

.example__container {
  @media (max-width: $mobile-width-only) {
    padding: 0 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-only) {
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 65px;
    width: 70%;
  }
}

.example__title {
  margin: 27px 6px 20px 6px;

  @media (min-width: $tablet-width) {
    margin: 43px 6px 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 63px 6px 105px 0;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  color: $special_dark-grey;
  margin-bottom: 24px;
  max-width: 700px;
  padding: 0 0 1px 4px;

  @media (min-width: $tablet-width) {
    margin: 43px 6px 32px 0;
    max-width: none;
    width: 94%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 36px 0 15px 0;
  }
}

.example__stats {
  min-width: 124px;
  margin: 0 0 0 5px;

  @media (min-width: $tablet-width) {
    margin: 22px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 50px 0 0 0;
  }

  & + & {
    margin-left: 31px;

    @media (min-width: $tablet-width) {
      margin-left: 42px;
    }
  }
}

.example__price {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 33px 0 42px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    align-self: center;
    width: 25%;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
    margin: 55px 0 19px 0;
    display: block;
  }
}

.example__price-value {
  @media (min-width: $tablet-width) {
    display: block;
    margin: 10px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin: 0 0 0 58px;
  }
}

.example__slider-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;

  @media (min-width: $desktop-width) {
    min-width: 730px;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.example__image {
  text-align: center;
  width: 320px;
  height: 232px;
  margin: 0 auto 14px auto;
  background-image: url("../img/cat-skinny.png");
  background-repeat: no-repeat;
  background-position: left 70% bottom 3px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 530px;
    display: flex;
    width: 708px;
    margin: 49px auto 0 auto;
    background-image: url("../img/cat-skinny-tablet.png");
    background-position: left 65% bottom 5px;
  }

  @media (min-width: $desktop-width) {
    margin: 4px 0 0 82px;
    background-position: left 92% bottom 6px;
  }
}


.example__image-wrapper {
  width: 50%;
  height: 232px;
  overflow: hidden;
  position: absolute;
  margin: 0;
  background-image: url("../img/before-mobile.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/before-tablet.png");
    height: 530px;
    background-position: 15px 0;
  }

  @media (min-width: $desktop-width) {
    background-position: 0 0;
    margin-left: 60px;
  }
}
