.main-screen {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    background: linear-gradient(to left, rgba($apple, 0.85) 50%, $white 50%);
    padding-top: 48px;
    min-height: 694px;
    margin-bottom: 82px;

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      background: url("../img/index-background-desktop.jpg") no-repeat;
      top: 0;
      right: 0;
      z-index: -1;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: url("../img/index-background-desktop@2x.jpg") no-repeat right top / 720px auto;
      }
    }
  }
}
