.offers {
  min-height: 552px;

  @media (min-width: $tablet-width) {
    min-height: 774px;
  }

  @media (min-width: $desktop-width) {
    min-height: 380px;
  }
}

.offers__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 1450px) {
    justify-content: center;
  }
}

.offers__item {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  min-height: 266px;
  padding: 20px 13px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 6.5%;
    }
  }

  &:nth-child(odd) {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: grid;
    align-items: center;
    grid-template-rows: 25% auto 25%;
    grid-template-columns: 60% 40%;
    column-gap: 18px;
    min-height: 372px;
    padding: 20px 38px 20px 52px;
  }

  @media (min-width: $desktop-width) {
    min-height: 374px;
    padding: 40px 40px 20px 33px;
    min-width: 570px;
    max-width: 45%;
    margin-bottom: 30px;
  }
}


.offers__icon {
  grid-column: 2/ 3;
  grid-row: 1/ 4;
}
