.offer {
  background-color: $basic_grey;
}

.offer__icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 215px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    height: 110px;
  }

  &--slim {
    background-image: url("../img/cat_back-slim.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/cat_back-slim--tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/cat_back-slim--desktop.svg");
    }
  }

  &--pro {
    background-image: url("../img/cat_back-pro.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/cat_back-pro--tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/cat_back-pro--desktop.svg");
    }
  }
}

.offer__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.offer__text {
  font-family: "Arial", sans-serif;

  @media (max-width: $mobile-width-only) {
    color: $special_dark-grey;
  }
}

.offer__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }
}
