.offer {
  background-color: $basic_grey;
}

.offer__icon {
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: left top;

  @media (min-width: $tablet-width) {
    width: 270px;
    height: 215px;
  }

  @media (min-width: 900px) {
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    height: 110px;
  }

  &--slim {
    background-position: 9px 1px;
    background-image: url("../img/cat_back-slim.svg");

    @media (min-width: $tablet-width) {
      background-position: 5px 2px;
      background-image: url("../img/cat_back-slim--tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-position: 19px center;
      background-image: url("../img/cat_back-slim--desktop.svg");
    }
  }

  &--pro {
    background-position: 0 4px;
    background-image: url("../img/cat_back-pro.svg");

    @media (min-width: $tablet-width) {
      margin: 0 0 0 -29px;
      background-position: 0 12px;
      background-image: url("../img/cat_back-pro--tablet.svg");
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      background-position: 0 7px;
      background-image: url("../img/cat_back-pro--desktop.svg");
    }
  }
}

.offer__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 10px 7px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 66px 0 0 1px;
  }

  @media (min-width: $desktop-width) {
    margin: 37px 41px;
  }
}

.offer__text {
  font-family: "Arial", sans-serif;
  min-width: 230px;
  width: 95%;
  margin: 0 7px;
  padding: 8px 0 22px 0;
  border-bottom: 1px solid $silver-2;

  @media (max-width: $mobile-width-only) {
    color: $special_dark-grey;
  }

  @media (min-width: $tablet-width) {
    border: none;
    width: auto;
    min-width: 330px;
    margin: 12px 0 0 0;
  }

  @media (min-width: 900px) {
    max-width: 90%;
  }

  @media (min-width: $desktop-width) {
    margin: 28px 0 0 18px;
    min-width: 470px;
  }

  &--pro {
    @media (min-width: $tablet-width) {
      max-width: 90%;
    }
  }
}

.offer__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $black;
  align-self: flex-end;
  padding: 4px 45px 0 0;
  margin: 0 0 2px 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 37px 0;
    justify-self: start;
    min-width: 160px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 38px 19px;
    min-width: 165px;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 25px;
    height: 12px;
    position: absolute;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 30%;
    right: 4%;

    @media (min-width: $tablet-width) {
      top: 37%;
      right: 3%;
    }

    @media (min-width: $desktop-width) {
      top: 36%;
      right: 4.5%;
    }
  }
}
