.page-header {
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }

  &--index {
    padding-top: 0;
  }

  &--form {
    @media (min-width: $desktop-width) {
      padding-top: 50px;
    }
  }
}


.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    background-color: $white;
    padding: 0;
    border-bottom: 1px solid $silver;

    &--hidden {
      @media (max-width: $mobile-width-only) {
        margin-bottom: 14px;
      }
    }

    &--index {
      border-bottom: 1px solid $white;
    }

    &--open {
      border: none;
    }
  }
}

.page-header__logo {
  @media (max-width: $mobile-width-only) {
    margin-left: 20px;
  }


  &--text {
    @media (max-width: $mobile-width-only) {
      margin: 5px 20px 0 20px;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-header__menu-opener {
  align-self: start;
  margin: 12px 20px 0 10px;
}

.page-header__main-nav {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    max-width: 62%;
  }

  @media (min-width: 1000px) {
    max-width: 570px;
  }

  @media (min-width: 1100px) {
    max-width: 650px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    max-width: 39.3%;
  }
}
