.product {
  min-height: 190px;

  @media (min-width: $tablet-width) {
    padding: 30px;
    min-height: 510px;
    background: linear-gradient(to top, $basic_grey 85%, $white 85%);
  }

  &--show-all {
    min-height: 160px;
    background: none;

    @media (min-width: $tablet-width) {
      min-height: 510px;
      border: 2px solid $basic_grey;
    }
  }
}

.product__image {
  width: 30%;

  @media (min-width: $tablet-width) {
    width: auto;
    min-height: 200px;
  }

  &--show-all {
    width: auto;
  }
}

.product__data-wrapper {
  width: 50%;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 80%;
  }
}

.product__name {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 21px;
  }

  &--show-all {
    color: $cod_gray;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 22px;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__detail {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  &--show-all {
    @media (min-width: $tablet-width) {
      line-height: 18px;
    }
  }
}
