.slider__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 19px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba($black, 0.4);
    margin: 8px 0 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 27px 0 16px 0;
  }

  &:hover {
    border-bottom: 1px solid rgba($black, 0.4);
  }
}

.slider__scale {
  margin: 21px 16px 0 20px;
  padding: 0 5px;
  min-width: 84px;
  min-height: 14px;
  border: 1px solid $silver;
  border-radius: 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-width: 428px;
    min-height: 6px;
    border: none;
    background: $silver;
    margin: 20px 20px 0 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 20px 0 21px;
  }
}
