.social__link {
  display: block;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-right: 12%;

  @media (min-width: $desktop-width) {
    margin-right: 8%;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover .social__icon {
    fill: $apple;
  }

  &:active .social__icon {
    opacity: 0.3;
  }

  &--vkontakte {
    width: 23px;
    height: 16px;
  }

  &--instagram {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 5px;
    }
  }

  &--facebook {
    width: 22px;
    height: 22px;

    & .social__icon {
      stroke: $special_grey-2;
      fill: transparent;
    }

    &:hover .social__icon {
      stroke: $apple;
      fill: transparent;
    }
  }
}


.social__icon {
  fill: $special_grey-2;

  @media (min-width: $tablet-width) {
    transform: scale(1.35);
  }

  @media (min-width: $desktop-width) {
    transform: scale(1.42);
  }
}
