.title {
  font-weight: 400;
  color: $black;

  &--main {
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--main-index {
    @media (max-width: $mobile-width-only) {
      color: $white;
    }
  }

  &--index {
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--form {
    font-size: 24px;
    line-height: 26px;
    display: block;
    max-width: 190px;
    margin: 0 3.7% 0 19px;


    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      max-width: 535px;
      margin: 0 6% 0 5%;
    }

    @media (min-width: $desktop-width) {
      margin: 0 3.2% 0 2.8%;
    }
  }

  &--catalog {
    font-size: 24px;
    line-height: 24px;
    margin: 1px 22px 22px 19px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin: 1px 40px 63px 35px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 40px 62px 41px;
    }
  }
}
