.title {
  font-weight: 400;
  color: $black;

  &--main {
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--main-index {
    @media (max-width: $mobile-width-only) {
      color: $white;
    }
  }

  &--index {
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--form {
    font-size: 24px;
    line-height: 26px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
